/* src/index.css */

/* 1. ADICIONE ESTA LINHA NO TOPO */
@import url('https://fonts.cdnfonts.com/css/sst');

/* O resto do seu arquivo: */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white overflow-x-hidden;
  /* ... (suas outras linhas de background) ... */
  background-color: #0d1117; 
  background-attachment: fixed;
  background-size: cover;
  
  /* 2. ADICIONE ESTA LINHA AQUI DENTRO DO 'body' */
  font-family: 'SST', sans-serif;
}